# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor and IDE files
.vscode/
.idea/
*.swp

